/* ── Global ─────────────────────────────────────────── */
* {
  font-family: "JetBrainsMono Nerd Font", "Noto Sans", monospace;
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: rgba(17, 17, 27, 0);
  color: #cdd6f4;
  /*border-bottom: 2px solid rgba(137, 180, 250, 0.25);*/
  border-radius: 10px;
}

/* ── Workspaces ─────────────────────────────────────── */
#workspaces {
  background: rgba(30, 30, 46, 0.85);
  border-radius: 8px;
  padding: 2px 6px;
}

#workspaces button {
  padding: 2px 8px;
  color: #6c7086;
  background: transparent;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background: rgba(137, 180, 250, 0.15);
  color: #ffffff;
}

#workspaces button.active {
  background: rgb(167, 124, 215);
  color: #ffffff;
}

#workspaces button.urgent {
  color: #f38ba8;
  background: rgba(243, 139, 168, 0.15);
}

#workspaces button.empty {
    color: #6c7086;
}

/* ── Window title ───────────────────────────────────── */
#window {
  color: #a6adc8;
  padding: 0 10px;
  font-style: italic;
  border-bottom: 2px solid rgba(45, 57, 76, 0.819);
}

/* ── Clock ──────────────────────────────────────────── */
#clock {
  color: #cba6f7;
  padding: 1px 14px;
  font-weight: bold;
  border-radius: 8px;
  background: rgba(30, 30, 46, 0.85);
}

/* ── Right modules shared style ─────────────────────── */
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  padding: 2px 10px;
  border-radius: 8px;
  background: rgba(30, 30, 46, 0.85);
}

/* ── CPU ────────────────────────────────────────────── */
#cpu { color: #a6e3a1; }
#cpu.warning  { color: #fab387; }
#cpu.critical { color: #f38ba8; }

/* ── Memory ─────────────────────────────────────────── */
#memory { color: #89dceb; }

/* ── Battery ────────────────────────────────────────── */
#battery          { color: #a6e3a1; }
#battery.warning  { color: #fab387; }
#battery.critical { color: #f38ba8; animation: blink 1s linear infinite; }
#battery.charging { color: #a6e3a1; }

@keyframes blink {
  to { color: transparent; }
}

/* ── Network ────────────────────────────────────────── */
#network             { color: #89b4fa; }
#network.disconnected { color: #6c7086; }

/* ── Audio ──────────────────────────────────────────── */
#pulseaudio       { color: #f5c2e7; }
#pulseaudio.muted { color: #6c7086; }

/* ── Tray ───────────────────────────────────────────── */
#tray {
  padding: 2px 8px;
  border-radius: 8px;
  background: rgba(30, 30, 46, 0.85);
}

#tray > .passive        { -gtk-icon-effect: dim; }
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(243, 139, 168, 0.2);
}

